<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect index.html to /home -->
        <rule name="Redirect index to home" stopProcessing="true">
          <match url="^index\.html$" />
          <action type="Redirect" url="/home" redirectType="Permanent" />
        </rule>
        
        <!-- Redirect about.html to /about -->
        <rule name="Redirect about to about-page" stopProcessing="true">
          <match url="^about\.html$" />
          <action type="Redirect" url="/about" redirectType="Permanent" />
        </rule>
        
        <!-- Redirect articles.html to /articles -->
        <rule name="Redirect contact to contact-page" stopProcessing="true">
          <match url="^articles\.html$" />
          <action type="Redirect" url="/articles" redirectType="Permanent" />
        </rule>
        
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>